<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>PHP Reboot</title>
	<meta name="description" content="Share latest PHP news and features">
	<meta name="author" content="www.phpreboot.com">
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/zerogrid.css">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/responsiveslides.css" />
	
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
	
	<link href='./images/favicon.ico' rel='icon' type='image/x-icon'/>
	<script src="js/jquery.min.js"></script>
</head>
<body>
<!--  Header  -->
<header>
	<div class="wrap-header zerogrid">
		<div id="logo"><a href="index.html"><img src="./images/logo.png"/></a></div>
		
		<!--div id="search">
			<div class="button-search"></div>
			<input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
		</div-->
	</div>
</header>

<nav>
	<div class="wrap-nav zerogrid">
		<div class="menu">
			<ul>
				<li class="first current"><a href="index.html">Home</a></li>
				<li><a href="blog.html">Blog/Articles</a></li>
				<li><a href="services.html">Magazine</a></li>
				<li><a href="single.html">About</a></li>
				<li class="last"><a href="contact.html">Contact</a></li>
			</ul>
		</div>
		
		
		<div class="minimenu"><div>MENU</div>
			<select onchange="location=this.value">
				<option></option>
				<option value="index.html">Home</option>
				<option value="blog.html">Blog/Articles</option>
				<option value="services.html">Magazine</option>
				<option value="single.html">About</option>
				<option value="contact.html">Contact</option>
			</select>
		</div>		
		<div class="share">
			<ul>
				<li><a href="https://twitter.com/phpreboot"><img src="images/twitter-icon.png" title="Twitter"/></a></li>
				<!--li><a href="#"><img src="images/facebook-icon.png" title="Facebook"/></a></li>
				<li><a href="#"><img src="images/linkedin-icon.png" title="Linkedin"/></a></li-->
			</ul>
		</div>
	</div>
</nav>

<!-- ------------Content------------- -->
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block01">
			<div class="col-full">
				<div class="wrap-col">
					<h2>Welcome to PHP Reboot</h2>
					<p>
						PHP Reboot is an attempt to share news and new features of PHP and related technologies.
						<br/>
						We do this by sharing articles, news and tutorials through free PHP Reboot Magazine and blogs. As community,
						we depends on individual. If you have something to share with community, please write an article or blog
						and share with us.
					</p>
				</div>
			</div>
		</div>
		<div class="row block02">
			<div class="col-1-3">
				<div class="wrap-col box1">
					<img src="images/icon1.png" />
					<h2>PHP Reboot</h2><h3>April 2014</h3>
					<p>
						April 2014 issue of PHP reboot magazine is now available for download.
						<br/>
						Please visit <a href="magazine.html">Magazine</a> section to download yout copy.
					</p>
					<a href="#">[ More ]</a>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col box2">
					<img src="images/icon2.png" />
					<h2>Write for us</h2>
					<p>
						PHP Reboot is a community effort and we need community to take it to next level. If you have something to share with
						community, please write and article or blog post for us.
					</p>
					<a href="#">[ More ]</a>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col box3">
					<img src="images/icon3.png" />
					<h2>Code Jugalbandi</h2>
					<p>
						Lots of frameworks in PHP and learning them might not be easy for everyone. Code Jugalbandi is there to make it little
						easy. Here we will implement same project in different frameworks.
					</p>
					<a href="#">[ More ]</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ------------Footer------------- -->
<footer>
	<div class="wrap-footer">
		<div class="copyright">
			<p>Copyright © 2014 PHP Reboot - Template by <a href="http://www.zerotheme.com" target="_blank">Zerotheme.com</a></p>
		</div>
	</div>
</footer>

</body></html>