<?PHP
$config = array();

$config['site_name'] = "PHP Reboot";

$config['environment'] = "development";

$config['site_url'] = "http://dev.phpreboot.com";
$config['image_url'] = $config['site_url'] . '/images';
$config['css_url'] = $config['site_url'] . '/css';
$config['js_url'] = $config['site_url'] . '/js';
$config['mag_url'] = $config['site_url'] . '/mag';

$config['path'] = 'D:\dev\phpreboot\website' . DIRECTORY_SEPARATOR;
$config['os_path'] = $config['path'] . "public_html" . DIRECTORY_SEPARATOR;
$config['include_path'] = $config['path'] . "includes" . DIRECTORY_SEPARATOR;
